/* ===== PAGE ===== */
.client-page {
  background: #eef2f7;
  min-height: 100vh;
}

/* ===== NAVBAR ===== */
.top-navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 72px;
  background: #1d4ed8;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 32px;
  z-index: 1000;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

/* ===== LEFT ===== */
.navbar-left .logo {
  color: white;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1px;
}

/* ===== CENTER LINKS ===== */
.navbar-center {
  display: flex;
  gap: 20px;
}

.nav-link {
  color: #d1d5db;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  padding: 8px 14px;
  border-radius: 999px;
  transition: all 0.25s ease;
}

.nav-link:hover {
  background: rgba(255, 255, 255, 0.1);
  color: white;
}

.nav-link.active {
  background: #1d4ed8;
  color: white;
}

/* ===== RIGHT USER MENU ===== */
.navbar-right {
  position: relative;
}

.user-button {
  background: #1d4ed8;
  color: white;
  border: none;
  border-radius: 999px;
  padding: 8px 16px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
}

.user-button:hover {
  background: rgba(255, 255, 255, 0.1);
}

/* ===== DROPDOWN ===== */
.user-menu {
  position: absolute;
  right: 0;
  top: 48px;
  background: white;
  border-radius: 12px;
  min-width: 180px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
  overflow: hidden;
}

.menu-item {
  display: block;
  padding: 12px 16px;
  font-size: 14px;
  color: #1d4ed8;
  text-decoration: none;
  background: white;
  border: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
}

.menu-item:hover {
  background: #f1f5f9;
}



/* ===== CONTENT ===== */
.client-content-wrapper {
  padding-top: 100px; /* important pour navbar fixe */
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 40px;
}


.navbar-logo {
  height: 47px;       /* taille du logo */
  width: auto;
  cursor: pointer;
  object-fit: contain;
}
.brand-text {
  color: white;
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 1px;
}
